<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-qrdroid" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>qrdroid</name>
    <js-module name="qrdroid" src="www/qrdroid.js">
        <clobbers target="cordova.plugins.qrdroid"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="qrdroid">
                <param name="android-package" value="cordova-plugin-qrdroid.qrdroid"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/qrdroid.java" target-dir="src/cordova-plugin-qrdroid/qrdroid"/>
    </platform>
</plugin>